@import url('https://fonts.googleapis.com/css?family=Averia+Serif+Libre:300,400,400i,700,700i&display=swap');

/*----------------------------------------------------Body--*/

body {
    font-family: "Averia Serif Libre", sans-serif;
    width: 100%;
}

/*----------------------------------------------------Nav--*/

.nav-item a {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    
}

.nav-item a:active {
    color: #a75656;
}

.dropdown-item {
    font-size: 16px;
    font-weight: 300;
    color: #fff;
    background-color: #343a40;
}

.dropdown-item:hover {
    background-color: #ed2d2d;
    color: #fff;
}

.dropdown-menu {
    padding-top: 0;
    padding-bottom: 0;
}

#nav {
    position: fixed;
    left: 0;
    top: 0
}

/*----------------------------------------------------Header logo--*/

.logo:hover {
    text-decoration: underline;
    text-decoration-color: #ed2d2d;
}

.logo {
    font-family: "Averia Serif Libre", sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: #ed2d2d;
    background-color: #343a40;
    margin-bottom: 0px;
}
    
/*----------------------------------------------------Footer--*/

@media (max-width: 580px) {
    .footer-one {
        display: none;
    }
}

@media (max-width: 800px) {
    .footer-three {
        display: none;
    }
}

footer {
    position: relative;
    left: 0px;
    bottom: 0px;
    background-color: #343a40;
    color: #fff;
    text-align: center;
    font-size: 20px;
    font-weight: 300;
    z-index: 1;
    width: 100%;
}

footer i {
    color: #ed2d2d;
    font-size: 30px;
    padding-top: 24px;
}

.footer-container {
    max-height: 150px;
}

.social-icon {
    display: inline;
    padding: 10px;
    padding-top: 24px;
}

.info-content {
    font-size: 10px;
    font-style: italic;
    font-weight: 300;
}

/*-------------------------------------------Jumbotron*/

.jumbotron {
    background-image: url(../images/rrdiscos-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    color: #ffffff;
    width: 100%;
    padding-right: 50px;
    padding-left: 50px;
    margin-bottom: 0;
    border-radius: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 40px;
}

.jumbotron-content {
    padding-top: 50px;
    padding-bottom: 50px;
}

.jumbotron-container {
    padding: 0;
    margin: 0;
}

.hr-jumbotron {
    width: 50%;
    height: 3px;
    color: #fff;
    background-color: #fff;
    border-radius: .3rem;
}

.lead {
    font-size: 30px;
    font-weight: 300;
}

.btn-quote {
    background-color: #ed2d2d;
    color: #ffffff;
    margin-bottom: 10px;
    font-size: 35px;
    min-height: 60px;
    min-width: 50%;
    margin-top: 20px;
}


@media only screen and (max-width: 700px) {
    .jumbotron {
        display: none;
    }
}

.col {
    padding: 0;
}

/*----------------------------------------------------Home--*/

@media only screen and (max-width: 700px) {
    .home-content i {
        padding-top: 80px;
    }
}

@media only screen and (max-width: 500px) {
    .home-content i {
        padding-top: 120px;
    }
}

.home-container {
    padding: 0;
}

.home-content {
    text-align: center;
    font-weight: 300;
    margin: 5%;
    padding-bottom: 30px;
}

.home-content i {
    font-size: 40px;
    display: block;
    padding-bottom: 20px;
}


.home-heading {
    padding-bottom: 20px;
    letter-spacing: 5px;
}

.home-about-us {
    background-color: #ed2d2d;
    color: #fff;
}

.home-services {
    background-color: #343a40;
    color: #fff;
}

.home-reviews {
  color: #ed2d2d;
}

.home-reviews hr {
    color: #ed2d2d;
    background-color: #ed2d2d;
}

.reviews-heading {
    text-align: right;
}

.reviews-content {
    text-align: left;
    margin-bottom: 15px;
    margin-top: 15px;
}

.hr-home {
    width: 30%;
    height: 3px;
    color: #fff;
    background-color: #fff;
    border-radius: .3rem;
}

/*--------------------------------------------Contact--*/

.contact-image {
    background-image: url(../assets/images/rr-setup3.jpg);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 120%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.contact-heading {
    color: #fff;
    max-height: 80%;
    padding-left: 5%;
    padding-right: 5%;
}

@media (max-width: 540px) {
    .contact-heading {
        padding-top: 80px;
    }
}

.contact-container {
    padding-top: 100px;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    text-align: center;
}

.form-control {
    margin-bottom: 15px;
    opacity: .75;
    background-color: #d6d6d6;
    color: #000;
    border-color: #343a40; 
}


.form-control:hover {
    background-color: #fff;
    color: #000;
    border-color: #343a40;
}

.center-form {
    margin: 0 auto;
    display: block;
    padding-bottom: 20px;
    width: 80%;
}

.contact-dropdown {
    background-color: #343a40;
    color: #fff;    
} 

.contact-dropdown:hover {
    background-color: #ed2d2d;
    color: #fff;
}

option:hover {
    background-color: #ed2d2d;
    color: #fff;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.call {
    text-decoration: none;
    color: #fff;
}

.call:hover {
    color: #ed2d2d;
}

/*--------------------------------------------Services--*/

.services-container {
    background-color: #343a40;
    color: #fff;
    padding-bottom: 80px;
    font-weight: 300;
    text-align: center;
    border-bottom: 5px solid #ed2d2d;
}

.services-heading {
    padding-top: 125px;
    padding-bottom: 50px;
    text-decoration: underline;
}

.services-heading i {
    padding-right: 20px;
    padding-left: 20px;
    font-size: 40px;
}

.ring {
    color: goldenrod;
}

.services-content {
    padding-bottom: 50px;
}

.rounded-circle {
    max-width: 95%;
    padding-bottom: 30px;
}

iframe {
    min-width: 80%;
    min-height: 80vh;
}

@media only screen and (max-width: 900px) {
    .services-heading i {
        display: none;
    }
}

.photobooth {
    margin-bottom: 50px;
}

/*--------------------------------------------Carousel--*/

.carousel {
    margin-left: 7.5%;
    margin-right: 7.5%;
    border-radius: .5rem;
}

.carousel img{
    max-height: 80vh;
    align-content: center;
}
